{% extends 'base.html.twig' %}

{% block title %}New AdrLivraisonCmd{% endblock %}

{% block body %}
    <h1>Create new AdrLivraisonCmd</h1>

    {{ include('adr_livraison_cmd/_form.html.twig') }}

    <a href="{{ path('app_adr_livraison_cmd_index') }}">back to list</a>
{% endblock %}
