{% extends 'base.html.twig' %}

{% block title %}<title>Ajouter un film - Video Retro</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <h1>Ajouter un film</h1>
    <main class="container">{% block main %}


        {{ include('films/_form.html.twig') }}

        
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
