{% extends 'base.html.twig' %}
{% block title %}<title>Conditions générales d'utilisation - Video Retro</title>{% endblock %}
{% block body %}
    {% include '_header.html.twig' %}
    <main class="container">{% block main %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Conditions générales d'utilisation</li>
        </ol>
    </nav>

    <h1>Conditions générales d'utilisation</h1>
        <div class="mb-5">
            <h2>1. Objet</h2>
                <p>Les présentes CGU ont pour objet de définir les conditions dans lesquelles les utilisateurs peuvent accéder au site Video Retro et utiliser ses services.</p>

            <h2>2. Acceptation des CGU</h2>
                <p>En accédant au site, l'utilisateur accepte sans réserve les présentes CGU.</p>

            <h2>3. Accès au site</h2>
                <p>Video Retro s'efforce d'assurer l'accessibilité du site 24 heures sur 24, 7 jours sur 7, mais ne peut garantir cette accessibilité en cas de force majeure ou d'événements hors de son contrôle.</p>

            <h2>4. Propriété intellectuelle</h2>
                <p>Tous les éléments du site Video Retro, y compris les graphismes, images, textes, logos, et icônes sont la propriété exclusive de Video Retro.</p>

            <h2>5. Données personnelles</h2>
                <p>Video Retro s'engage à protéger vos données personnelles. Toutes les données personnelles recueillies sur le site sont traitées avec la plus stricte confidentialité.</p>

            <h2>6. Responsabilité</h2>
                <p>Video Retro ne peut être tenu responsable des dommages directs ou indirects causés au matériel de l'utilisateur lors de l'accès au site.</p>

            <h2>7. Modification des CGU</h2>
                <p>Video Retro se réserve le droit de modifier les présentes CGU à tout moment. Les utilisateurs seront informés de ces modifications par tout moyen utile.</p>
            
            <h2>8. Droit applicable</h2>
                <p>Les présentes CGU sont régies par le droit français.</p>
        </div>
        {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
