/* Pour mettre en place le footer, il faut définir une hauteur de 100% pour le body */
html, body {
    height: 100%;
}

/* Ensuite, il faut utiliser les grid. On découpe la page en 3 zones : le header à auto, le body à une fraction et le footer à auto. Ainsi, la hauteur du header et du footer s'ajuste en fonction de la hauteur du body (qui dépend de son contenu. */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* La page connexion n'étant pas très haute verticalement, le css appliqué au body agrandit la taille du h1, créant un grand espace blanc entre le h1 et le corps du formulaire. Le css ci-dessous règle le problème. */
.bodyConnexion{
    display: grid;
    grid-template-rows: auto 1fr 4fr auto;
}

/* CSS de base.html.twig */

.imgLogo{
    width:100px;
    height: auto;
}

.font-lazer{
    font-family: "Lazer84";
    text-decoration: none;
    color:white;
    font-size: 2.5rem;
    /* text-shadow est utilisé pour créer un contour sur le texte : */
    text-shadow:
    3px 3px 2px #000,
    -3px 3px 2px #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

@font-face {
    font-family: "Lazer84";
    src:
        url("/fonts/Lazer84.ttf") format("truetype");
}

.slogan{
    align-items: center;
    font-style: italic;
    margin: 0;
}

.homephoto{
    width: 90%;
    display: block;
    margin: 0 auto;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #6c757d; 
    /* couleur correspondant à text-secondary de Bootstrap */
    padding-bottom: 1rem;
} 

.h1Connexion{
    line-height: 55px;
}

h2{
    font-size : 1.5rem; 
    font-weight : bold;
}

.fs-20{
    /* 1.25rem = 20px */
    font-size: 1.25rem;
}

.links{
    text-decoration: underline;
    color: white;
}

.providers{
    list-style-type: none;
}

.p-bold{
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .overview {
        display: none;
    }
}

@media screen and (max-width: 768px) 
{
    .searchBar-container {
        width: 100%;
    } 
    .slogan-sm {
        display: none;
    }

    .search-sm {
        width: 100%;
    }
    .imgFilm{
        max-width: 196px;
    }

    h1{
        text-align: center !important;
    }
}

@media screen and (max-width: 576px)
{
    .imgLogo{
        display: none;
    }
}

@media screen and (max-width: 360px)
{
    /* Taille de police réduite de 20% : empêcher le retour à la ligne du bouton burger sur les plus petits écrans */
    .font-lazer {
        font-family: "Lazer84";
        text-decoration: none;
        color: white;
        font-size: calc(2.5rem * 0.8);
        text-shadow:
        2.4px 2.4px 1.6px #000,
        -2.4px 2.4px 1.6px #000,
        -2.4px -2.4px 0 #000,
        2.4px -2.4px 0 #000;
    }

    /* Ces classes sont présentes sur la fiche film. Elle permettent d'afficher tout le contenu à l'intérieur des plus petits écrans. */
    .movieCard{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .logoFormatsContainer{
        display: flex;
        flex-direction: column;
        align-items : center;
    }
    
    .logoFormats{
        width: 100px;
        height: 100px;
    }


}
