html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* CSS de base.html.twig */
.logo{
    font-family: "Lazer84";
    text-decoration: none;
    color:white;
    font-size: 2.5rem;
    /* text-shadow utilisé pour créer un contour sur le texte : */
    text-shadow:
    3px 3px 2px #000,
    -3px 3px 2px #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

@font-face {
    font-family: "Lazer84";
    src:
        url("/fonts/Lazer84.ttf") format("truetype");
}

.slogan{
    align-items: center;
    font-style: italic;
    margin: 0;

}

.ongletActif{
    text-shadow: 2px 2px 3px white
}

.homephoto{
    width: 90%;
    display: block;
    margin: 0 auto;
}