/* Pour mettre en place le footer, il faut définir une hauteur de 100% pour le body */
html, body {
    height: 100%;
}

/* Ensuite, il faut utiliser les grid. On découpe la page en 3 zones : le header à auto, le body à une fraction et le footer à auto. Ainsi, la hauteur du header et du footer s'ajuste en fonction de la hauteur du body (qui dépend de son contenu. */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* CSS de base.html.twig */

.imgLogo{
    width:100px;
    height: auto;
}

.font-lazer{
    font-family: "Lazer84";
    text-decoration: none;
    color:white;
    font-size: 2.5rem;
    /* text-shadow est utilisé pour créer un contour sur le texte : */
    text-shadow:
    3px 3px 2px #000,
    -3px 3px 2px #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}

@font-face {
    font-family: "Lazer84";
    src:
        url("/fonts/Lazer84.ttf") format("truetype");
}

.slogan{
    align-items: center;
    font-style: italic;
    margin: 0;
}

.homephoto{
    width: 90%;
    display: block;
    margin: 0 auto;
}


h1{
    font-weight: bold;
    text-align: center;
    color: #6c757d; 
    /* couleur correspondant à text-secondary de Bootstrap */
    padding-bottom: 1rem;
} 

.links{
    text-decoration: underline;
    color: white;
}


@media screen and (max-width: 768px) 
{
    .searchBar-container {
        width: 100%;
    } 
    .slogan-sm {
        display: none;
    }

    .search-sm {
        width: 100%;
    }
}

@media screen and (max-width: 576px)
{
    .imgLogo{
        display: none;
    }

}
