<form method="post" action="{{ path('app_adr_facturation_user_delete', {'id': adr_facturation_user.id}) }}" onsubmit="return confirm('Confirmer la suppression ? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adr_facturation_user.id) }}">
    <button class="btn">Delete</button>
</form>
