{% extends 'base.html.twig' %}

{% block title %}New AdrFacturationUser{% endblock %}

{% block body %}
    <h1>Create new AdrFacturationUser</h1>

    {{ include('adr_facturation_user/_form.html.twig') }}

    <a href="{{ path('app_adr_facturation_user_index') }}">back to list</a>
{% endblock %}
