<form method="post" action="{{ path('app_formats_delete', {'id': format.id}) }}" onsubmit="return confirm('Confirmer la suppression ? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ format.id) }}">
    <button class="btn">Delete</button>
</form>
