{% extends 'base.html.twig' %}

{% block title %}<title>Edit formats</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <h1>Edit formats</h1>
    <main class="container">{% block main %}

        {{ include('formats/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_formats_index') }}">back to list</a>

        {{ include('formats/_delete_form.html.twig') }}
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
