{% extends 'base.html.twig' %}

{% block title %}Edit Formats{% endblock %}

{% block body %}
    <h1>Edit Formats</h1>

    {{ include('formats/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_formats_index') }}">back to list</a>

    {{ include('formats/_delete_form.html.twig') }}
{% endblock %}
