{% extends 'base.html.twig' %}

{% block title %}New Formats{% endblock %}

{% block body %}
    <h1>Create new Formats</h1>

    {{ include('formats/_form.html.twig') }}

    <a href="{{ path('app_formats_index') }}">back to list</a>
{% endblock %}
