{% extends 'base.html.twig' %}

{% block title %}<title>Create new format</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <h1>Create new format</h1>
    <main class="container">{% block main %}
        {{ include('formats/_form.html.twig') }}

        <a href="{{ path('app_formats_index') }}">back to list</a>
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
