{# action est utilisée pour que lorsqu'on clique pour envoyer les données du formulaire, la destination soit la page search dont le nom est app_search, tel  que définis dans SearchController.php #}
{{form_start(form, {'attr': {'action': path('app_search_by_year'), 'class':'search-sm'}})}}
    {# Cette div permet de placer le widget (champ de saisie) et le bouton de recherche en ligne #}
    <div class="d-flex">
    {# On génère le widget pour le champ keyword du formulaire, et on le style. #}
    {{form_widget(form.year, {'attr': {'class': 'form-control me-1', 'placeholder': 'Rechercher par année', 'aria-label':'Recherche'}})}}
    {# Bouton de lancement de la recherche #}
    <button class="btn btn-outline-secondary me-auto" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
{{form_end(form)}}