{% extends 'base.html.twig' %}

{% block title %}<title>Page d'accueil</title>{% endblock %}


{% block body %}
    {% include '_header.html.twig' %}

        {# Si un utlisateur est connecté, le message de bienvenue s'affiche #}
        {% if app.user %}
            <h1>
                Bienvenue {{ app.user.prenom}} {{ app.user.nom}} !
            </h1>
        {% endif %}
        <img class="homephoto" src="{{ asset('images/mosaique.jpg')}}" alt="mosaïque d'affiches de films">
    {% include "_footer.html.twig" %}
{% endblock %}
