{% extends 'base.html.twig' %}

{% block title %}<title>Paiement refusé</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <main class="container">{% block main %}
        <h1>Paiement refusé</h1>

            

    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
