{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn bg-myPrimary w-100 text-white mb-3">Enregistrer</button>
{{ form_end(form) }}
