{% extends 'base.html.twig' %}

{% block title %}Edit AdrLivraisonUser{% endblock %}

{% block body %}
    <h1>Edit AdrLivraisonUser</h1>

    {{ include('adr_livraison_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adr_livraison_user_index') }}">back to list</a>

    {{ include('adr_livraison_user/_delete_form.html.twig') }}
{% endblock %}
